<div class="register-container">
  <div class="register-card">
    <h2>Create Your Account</h2>

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="firstName">First Name *</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control"
            [class.is-invalid]="submitted && f['firstName'].errors"
          />
          <div class="invalid-feedback" *ngIf="submitted && f['firstName'].errors">
            <div *ngIf="f['firstName'].errors['required']">First name is required</div>
            <div *ngIf="f['firstName'].errors['minlength']">
              First name must be at least 2 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name *</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form-control"
            [class.is-invalid]="submitted && f['lastName'].errors"
          />
          <div class="invalid-feedback" *ngIf="submitted && f['lastName'].errors">
            <div *ngIf="f['lastName'].errors['required']">Last name is required</div>
            <div *ngIf="f['lastName'].errors['minlength']">
              Last name must be at least 2 characters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email Address *</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          [class.is-invalid]="submitted && f['email'].errors"
        />
        <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Please enter a valid email</div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number *</label>
        <input
          type="tel"
          id="phone"
          formControlName="phone"
          class="form-control"
          [class.is-invalid]="submitted && f['phone'].errors"
        />
        <div class="invalid-feedback" *ngIf="submitted && f['phone'].errors">
          <div *ngIf="f['phone'].errors['required']">Phone number is required</div>
          <div *ngIf="f['phone'].errors['pattern']">Phone number must be exactly 10 digits</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password *</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          [class.is-invalid]="submitted && f['password'].errors"
        />
        <div class="invalid-feedback" *ngIf="submitted && f['password'].errors">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password *</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="form-control"
          [class.is-invalid]="submitted && f['confirmPassword'].errors"
        />
        <div class="invalid-feedback" *ngIf="submitted && f['confirmPassword'].errors">
          <div *ngIf="f['confirmPassword'].errors['required']">Please confirm your password</div>
          <div *ngIf="f['confirmPassword'].errors['passwordMismatch']">Passwords do not match</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <div class="text-center">Already have an account? <a routerLink="/login">Login here</a></div>
  </div>
</div>
